* {
    padding:0;
    margin:0;
    font-family:'Playfair';
}
.container{
    display:grid;
    grid-template-rows:1fr 10fr;
    background-color:#fefcf4;
}
.nav{
    display:flex;
    justify-content:space-between;
    grid-rows:1/1;
    font-family: 'Playfair';
    font-size:larger;
    height:5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 5px;
    font-weight:900;
    font-size:32px;
    align-items:center;
    justify-content:space-around;
    z-index:1;
}
.add-modal{
    display:none;
    flex-direction:column;
    z-index:1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 400px;
    border: 1px solid black;
    border-radius:8px;
    align-items:center;
    padding:50px;
    background-color:#dee6c5;
    animation:fadein .5s;
    color:#171e09;
    
}
@keyframes fadein {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}
input{
    
    background-color:#dee6c5;
    margin:25px;
    
    font-size:larger;
    border: none;
    border-bottom: 1px solid #171e09; /* You can adjust the color and thickness of the outline */
    color:#171e09;
}

::placeholder{
    color:#171e09;
}
input[type="checkbox"]:checked {
    background:#4c6707;
}
.read-check{
    display:flex;
    align-items:center;
}
.close, button{
    background:#4c6707;
    color:#ffffff;
    width:5rem;
    height:2rem;
    margin:20px;
    border-radius:10px;
}
.cards{
    grid-rows:2/3;
    display:flex;
    flex-direction:column;
    background-color:#fefcf4;
    align-items:center;
    
}
.cards button{
    background:#fefcf4;
    border:none;
    font-size: 2rem;
    width:auto;
    height:3rem;
    padding:5px 5px 5px 5px;
    color:#1b1c17;
}
.cards button:hover{
   background:#dee6c5;
   border: 1px rgba(0, 0, 0, 0.3) solid;
   padding:5px;
   border-radius:5px;
    /*  10% opaque green */ 
}

.books-grid{
    display:grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    gap:15px;
}
.book-card{
    display:flex;
    flex-direction:column;
    width: 100px;;
    height: 200px;
    border: 1px solid black;
    border-radius:8px;
    align-items:center;
    padding:50px;
    background-color:#bcece4;
    color:#00201d;
    animation:fadein .5s;
    gap:10px;
    font-size:larger;
}
#remove-button{
    background:#ff7070;
    border:none;
    font-size: 1rem;
    width:auto;
    height:3rem;
    width:6rem;
    padding:3px;
    border-radius:5px;
}
#remove-button:hover{
    background:#ba1a1a;
}
button.read-button{
    background:#ffdad6;
    border:none;
    font-size: 1rem;
    width:auto;
    height:3rem;
    width:6rem;
    padding:3px;
    border-radius:5px;
}
.button-group{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:0px;
}
button.active{
    background: #9fff9c;
}
button.inactive{
    background: #ff7070;
}
